body{
    height: 100%;
    width:100%;
    background-color: black;
}


/* Center logo*/
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/* Change font logo */
.fontColor{
    color:yellow;
}

.wordLength{
border: 3px solid yellow;
font-size: 50px;
color:white;
text-align: center;
margin: 50px auto;
height: 100px;
width: 80%;
}


.theImage{
    position: relative;
}

.rightGuess{
    border: 3px solid yellow;
    font-size: 20px;
    text-align: center;
    height: 100px;
    width: 80%;
    color:white;
    }

.wrongGuess{
border: 3px solid yellow;
font-size: 20px;
text-align: center;
height: 100px;
width: 80%;
color:white;
        }

.numberOfGuess{
border: 3px solid yellow;
font-size: 20px;
text-align: center;
height: 50px;
width: 80%;
color:white;
}

#myImg{
    position: absolute;
    height:100%;
    width:100%;
}

            

        
